/* Estilos personalizados */
.section-title {
    background-color: #1e40af;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
  }
  .song-card {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  .song-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn-up{
    background-color: #2e4e74;
  }

  .text-Title{
    color: rgb(102, 102, 102);
  }


  .song-card {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  .song-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .hidden-content{
    display: none;
  }

  /* Estilos personalizados para el botón */
  .custom-button {
    background-color: #2e4e74; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 0.75rem 1.5rem; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    font-weight: 600; /* Texto en negrita */
    transition: background-color 0.3s ease; /* Transición suave */
  }
  .custom-button:hover {
    background-color: #686868; /* Cambia el color al pasar el mouse */
  }
